:root {
  --main: #1a8fc4;
  --positive: #608118;
  --negative: #cf4444;
  --dark: #221c14;
  --gray: #6d6a65;
  --extreme-light-gray: #f5f5f5;
  --light-gray: #b9b9b9;
  --light: #fff8ed;
  --secondary: #87bd27;
  --footer: #ada091;
  --background-image: linear-gradient(134deg, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.06) 100%);
  --box-shadow: 2px 2px 4px 0 #888888, -2px -2px 4px 0 #c2c2c2;
  --box-shadow-white: 2px 2px 4px 0 #ffffff7e;
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --main: #3f6e7c;
    --positive: #608118;
    --negative: #cf4444;
    --dark: #221c14;
    --gray: #463f32;
    --light-gray: #b9b9b9;
    --light: #fff8ed;
    --secondary: #e8cfa4;
    --footer: #ada091;
    --background-image: linear-gradient(134deg, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.06) 100%);
    --box-shadow: 10px 10px 20px 0 #e8cfa4, -10px -10px 20px 0 #ffffff;
  }
} */
