/* @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap'); */

@import url('../assets/fonts/Comfortaa/stylesheet');

@import url('../assets/fonts/Staatliches/stylesheet');

/* @font-face {
  font-family: 'MADE Canvas';
  src: url('../assets/fonts/MADECanvas.eot');
  src: url('../assets/fonts/MADECanvas.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/MADECanvas.woff2') format('woff2'),
    url('../assets/fonts/MADECanvas.woff') format('woff'),
    url('../assets/fonts/MADECanvas.ttf') format('truetype'),
    url('../assets/fonts/MADECanvas.svg#MADECanvas') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MADE Canvas';
  src: url('../assets/fonts/MADECanvas-Light.eot');
  src: url('../assets/fonts/MADECanvas-Light.eot?#iefix')
      format('embedded-opentype'),
    url('../assets/fonts/MADECanvas-Light.woff2') format('woff2'),
    url('../assets/fonts/MADECanvas-Light.woff') format('woff'),
    url('../assets/fonts/MADECanvas-Light.ttf') format('truetype'),
    url('../assets/fonts/MADECanvas-Light.svg#MADECanvas-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MADE Canvas';
  src: url('../assets/fonts/MADECanvas-Black.eot');
  src: url('../assets/fonts/MADECanvas-Black.eot?#iefix')
      format('embedded-opentype'),
    url('../assets/fonts/MADECanvas-Black.woff2') format('woff2'),
    url('../assets/fonts/MADECanvas-Black.woff') format('woff'),
    url('../assets/fonts/MADECanvas-Black.ttf') format('truetype'),
    url('../assets/fonts/MADECanvas-Black.svg#MADECanvas-Black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
} */

/* @font-face {
  font-family: 'Madeynsans';
  src: url('../assets/fonts/MadeynSans-Regular.eot');
  src: url('../assets/fonts/MadeynSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/MadeynSans-Regular.woff2') format('woff2'),
    url('../assets/fonts/MadeynSans-Regular.woff') format('woff'),
    url('../assets/fonts/MadeynSans-Regular.ttf') format('truetype'),
    url('../assets/fonts/MadeynSans-Regular.svg#MadeynSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Madeynsans';
  src: url('../assets/fonts/MadeynSans-Semibold.eot');
  src: url('../assets/fonts/MadeynSans-Semibold.eot?#iefix')
      format('embedded-opentype'),
    url('../assets/fonts/MadeynSans-Semibold.woff2') format('woff2'),
    url('../assets/fonts/MadeynSans-Semibold.woff') format('woff'),
    url('../assets/fonts/MadeynSans-Semibold.ttf') format('truetype'),
    url('../assets/fonts/MadeynSans-Semibold.svg#MadeynSans-Semibold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Madeynsans';
  src: url('../assets/fonts/MadeynSans-Light.eot');
  src: url('../assets/fonts/MadeynSans-Light.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/MadeynSans-Light.woff2') format('woff2'),
    url('../assets/fonts/MadeynSans-Light.woff') format('woff'),
    url('../assets/fonts/MadeynSans-Light.ttf') format('truetype'),
    url('../assets/fonts/MadeynSans-Light.svg#MadeynSans-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Madeynsans';
  src: url('../assets/fonts/MadeynSans-RegularItalic.eot');
  src: url('../assets/fonts/MadeynSans-RegularItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../assets/fonts/MadeynSans-RegularItalic.woff2') format('woff2'),
    url('../assets/fonts/MadeynSans-RegularItalic.woff') format('woff'),
    url('../assets/fonts/MadeynSans-RegularItalic.ttf') format('truetype'),
    url('../assets/fonts/MadeynSans-RegularItalic.svg#MadeynSans-RegularItalic')
      format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Madeynsans';
  src: url('../assets/fonts/MadeynSans-LightItalic.eot');
  src: url('../assets/fonts/MadeynSans-LightItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../assets/fonts/MadeynSans-LightItalic.woff2') format('woff2'),
    url('../assets/fonts/MadeynSans-LightItalic.woff') format('woff'),
    url('../assets/fonts/MadeynSans-LightItalic.ttf') format('truetype'),
    url('../assets/fonts/MadeynSans-LightItalic.svg#MadeynSans-LightItalic')
      format('svg');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Madeynsans';
  src: url('../assets/fonts/MadeynSans-Bold.eot');
  src: url('../assets/fonts/MadeynSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/MadeynSans-Bold.woff2') format('woff2'),
    url('../assets/fonts/MadeynSans-Bold.woff') format('woff'),
    url('../assets/fonts/MadeynSans-Bold.ttf') format('truetype'),
    url('../assets/fonts/MadeynSans-Bold.svg#MadeynSans-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Madeynsans';
  src: url('../assets/fonts/MadeynSans-SemiboldItalic.eot');
  src: url('../assets/fonts/MadeynSans-SemiboldItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../assets/fonts/MadeynSans-SemiboldItalic.woff2') format('woff2'),
    url('../assets/fonts/MadeynSans-SemiboldItalic.woff') format('woff'),
    url('../assets/fonts/MadeynSans-SemiboldItalic.ttf') format('truetype'),
    url('../assets/fonts/MadeynSans-SemiboldItalic.svg#MadeynSans-SemiboldItalic')
      format('svg');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Madeynsans';
  src: url('../assets/fonts/MadeynSans-BoldItalic.eot');
  src: url('../assets/fonts/MadeynSans-BoldItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../assets/fonts/MadeynSans-BoldItalic.woff2') format('woff2'),
    url('../assets/fonts/MadeynSans-BoldItalic.woff') format('woff'),
    url('../assets/fonts/MadeynSans-BoldItalic.ttf') format('truetype'),
    url('../assets/fonts/MadeynSans-BoldItalic.svg#MadeynSans-BoldItalic')
      format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
} */
